
* {
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 10px;
	color: white;
	background: none;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.info {
	z-index: 2;
	position: absolute;
}

#WebGL-output {
	z-index: 1;
	position: absolute;
	-webkit-filter: blur(3px) grayscale(30%);
	transform: scale(1.1);
}


header {
	width: 100%;
	position: absolute;
	left: 50%;
	margin-left: -50%;
	top: 20%;
}

header h1{
	font: 12rem 'Rajdhani', sans-serif;
	text-align: center;	
}

header h2{
	font-family: 'Rajdhani', sans-serif;
	font-size: 2.1rem;
	text-align: center;
	letter-spacing: 1px;
}

ul {
	list-style-type: none;
	position: absolute;
	text-align:center;
	top: 60%;
}

button {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 2.1rem;
	height: 6rem;
	width: 14rem;
	margin: 2rem;
	border: 1px solid #ffffff;
	border-radius: 10px;
	transition: transform 0.2s ease-in-out 0s;
}

button:hover {
	transform: scale(1.05);
}

footer {
	font-family: 'Roboto',sans-serif;
	position: absolute;
	text-align: center;
	top: 95%;
	font-style: italic;
}


