* {
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 10px;
	color: white;
}

/* info wrapper */
.app-info {
	z-index: 2;
	position: relative;
	width: 100vw;
	height: 30vh;
	margin-top: 10vh;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	border: 1px white dashed;
}

.app-info > ul {
	height: min-content;
	list-style: none;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.app-info li {
	font-family: 'Rajdhani', sans-serif;
}

.app-info #title {
	font-size: 12rem;
}

.app-info #description {
	font-size: 2.1rem;
	letter-spacing: 1px;
}

.app-footer {
	position: absolute;
	top: 97vh;
	font-family: 'Roboto', 'sans-serif';
	text-align: center;
	font-style: italic;
	border: 1px white dashed;
}
