/* end menu wrapper */
.end-menu {
	flex-grow: 1;
	position: relative;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	animation-name: fadeInUp;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
}
