.scoreboard ul {
  position: relative;
  top: 10vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: popIn;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

li.scoreboard-score {
  font-size: 6rem;
}

li.scoreboard-combo {
  color: rgb(246,0,124);
  font-weight: 900;
  font-size: 2.1rem;
  animation-name: popIn;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}