/* start menu wrapper */
.start-menu {
	flex-grow: 1;
	position: relative;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/* border: 1px white dashed; */
}

.tutorial-section, .main-section, .login-section {
	animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
