* {
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 10px;
	color: white;
	background-color: black
}

.info {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 20%;
	left: 50%;
	margin-left: -50%;
	top: 20%;
}

.info h1 {
	font: 12rem 'Rajdhani', sans-serif;
	text-align: center;	
}

.info h2 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 2.1rem;
	text-align: center;
	letter-spacing: 1px;
}

.menu-options {
	list-style-type: none;
	position: absolute;
	text-align:center;
	top: 60%;
	height: 20%;
}


footer {
	font-family: 'Roboto',sans-serif;
	position: absolute;
	text-align: center;
	top: 95%;
	font-style: italic;
}


