.whs-container {
	position: absolute;
	z-index: 0;
	display: flex;
	justify-content: center;
  align-content: center;
  height: 100vh;
	width: 100vw;
	object-fit: cover;
	filter: blur(5px) brightness(90%);
}